@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --morning-blue: #89b0aeff;
  --powder-blue: #bee3dbff;
  --cultured: #faf9f9ff;
  --apricot: #ffd6baff;
  --onyx: #35393cff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  word-break: break-word;
  height: 100%;
}

body {
  @apply text-onyx;

  font-family: sans-serif;
}
